[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-pubsub = "*"
google-cloud-storage = "==1.37.1"
google-cloud-datastore = "==2.1.1"
structlog = "==20.1.0"
waitress = "*"
flask = "*"

[dev-packages]
pytest = "==6.2.3"
pytest-cov = "==2.11.1"

[requires]
python_version = "3.9"
